<table class="table table-striped">
    <thead>
      <tr>
        <th>Patient Id</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Activity</th>
        <th>Status</th>
        <th>Recommend</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let activity of activities">
        <tr>

          <td>{{activity.patientId }}</td>
          <td>{{activity.startTime}}</td>
          <td>{{activity.endTime}}</td>
          <td>{{activity.activity}}</td>
          <td>{{activity.status}}</td>
          <td>{{activity.recommend}}</td>

          <div *ngIf="isOk(activity)" >
            <button class="btn btn-info w-20" [routerLink]="['/patient/recommendation/', activity.patientId, activity.id]"
              class="btn btn-outline-secondary fa fa-pencil-square"></button>
          </div>
        </tr>
      </ng-container>

    </tbody>
  </table>
