<div   class="container mt-3 w-25">
    <h1>
        Recommendation
    </h1>

    <form  #editForm="ngForm" id="editForm">

        <div>
            <strong>Status:</strong>
            <input type="text" class="form-control" name="status" [(ngModel)]="activity.status">
          </div>
          <div>
            <strong>Recommendation:</strong>
            <input type="text" class="form-control" name="recommend" [(ngModel)]="activity.recommend">
          </div>

      <div class="p-2">
          <button  form="editForm" class="btn btn-success btn-block" (click)='recommendation()'>Recommend</button>

      </div>
    </form>



      </div>
