<nav class="navbar navbar-expand-md navbar-dark  bg-dark" *ngIf="!getOut()">
  <a class="navbar-brand" href="#">Online Medication Platform</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link fa fa-home" href="#"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="getRole() === 0" routerLinkActive="active">
          <a class="nav-link fa fa-medkit" [routerLink]="['/drug']"> Drugs</a>
        </li>
      <li class="nav-item" *ngIf="getRole() === 0"  routerLinkActive="active">
        <a class="nav-link fa fa-user-md"  [routerLink]="['/caregiver']"> Caregivers</a>
      </li>
      <li class="nav-item" *ngIf="getRole() != 2" routerLinkActive="active">
        <a class="nav-link fa fa-user-circle"  (click)='redirectPatients()'> Patients</a>
      </li>

    </ul>
    <!-- Put Register Here -->
    <ul class="navbar-nav my-2 my-lg-0">
        <a class="nav-link fa fa-user" [routerLink]="['/profile', getId()]" routerLinkActive="router-link-active"  > My Profile <span class="sr-only">(current)</span></a>
        <a class="nav-link fa fa-sign-in"  routerLinkActive="active" [routerLink]="['/login']" (click)=logOut()> Logout <span class="sr-only">(current)</span></a>
    </ul>
</nav>


